/* #############################################
###### Template REGISTER & CONNECTION #########
############################################### */

body {
  background-color: lightgrey;
}

/* #############################################
###### Template ACCUEIL/INDEX         #########
############################################### */
.searchbox {
  display: contents;
}
.colette {
  width: 46%;
}
.remy {
  width: 65%;
}
footer {
  margin: 8px;
}
/* #############################################
###### BARRE DE NAVIGATION            #########
############################################### */
.bar_nav {
  margin-left: 58% !important;
}
.logo_pb {
  width: 4%;
  padding: 4px;
}
.fa-user-circle {
    font-size: 24px;
}
.carrot-nav {
  width: 8%;
}
.carrot {
  width: 46%;
  padding: 0;
}
.fa-sign-out-alt {
  font-size: 18px;
}


/* #############################################
###### Template RESULTATS             #########
############################################### */

.mini-header {
  margin-top: 4em !important;
  background-color: transparent !important;
}

.bg-title {
  background-color: #C45525;
}

.single-pg {
  background-color: #DE9440;
}

.title-single-pg h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.result-item {
  float: left;
}

.result-item span {
  font-size: 20px;
  color: white;
  background-color: #86EBE6;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: -15px;
}

.result-item figure {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.result-item img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.result-item h3 {
  font-size: 18px;
}

.result-item figcaption {
  height: 160px;
}

.fa-save {
  font-size: 18px;
}

/* #############################################
###### Template ACCOUNT             #########
############################################### */

.header-account {
  background-position: 50%;
  background-size: cover;
}

.email-account {
  color: white;
  text-align: center;
  background-color: #345A61;
  margin: 0 25% 0 25%;
}
