{% extends 'app/base.html' %}

{% block corps %}
  <section class="single-pg auth-pg">
   <div class="container my-auto">
     <div class="row">
       <div class="col-lg-8 mx-auto">
         <h1 class="text-uppercase">
           <strong>La page que vous cherchez n'existe pas</strong>
         </h1>
         <hr>
         <p>
          Retournez sur la page d'accueil
         </p>
       </div>
       <div class="col-lg-10 mx-auto">
       </div>
      </div>
    </div>
  </section>
{% endblock %}
