{% extends 'app/base.html' %}

{% block header %}{% for item in details %}
 <div class="jumbotron text-center text-white mini-header" style="background-image:url('{{ item.image }}')">
  <img class="img-responsive">
  <div class="container my-auto bg-title">
    <h2>
      {{ item.name }}
    </h2>
  </div>
</div>
{% endfor %}{% endblock %}


{% block corps %}{% for item in details %}
 <section class="single-pg">
  <div class="container">
    <div class="row detail-row">
      <div class="col-lg-6 col-xs-12">
        <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ item.grade }}.svg">
        </img>
      </div>
      <div class="col-lg-6 col-xs-12">
        <img src="{{ item.rep }}" alt="{{ item.name }}">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
       <a class="band" href="{{ item.url }}"> Voir la fiche d'OpenFoodFacts
       </a>
      </div>
  </div>
</section>
{% endfor %}{% endblock %}
