
  {% for item in products %}
  <div class="col-xs-12 col-sm-6 col-md-4 result-item">
    <div>
      <span>{{ item.grade }}</span>
      <figure class="thumbnail">
        <a href="{% url 'search:details' item.id %}">
          <img src="{{ item.image }}" alt="{{ item.name }}">
        </a>
      </figure>
      <figcaption class="caption">
        <a href="{% url 'search:details' item.id %}">
          <h3>{{ item.name }}</h3>
        </a>
        <form method="POST" action='{% url "search:save" %}' class="ajax_save_product">
          {% csrf_token %}
          <input type="hidden"  name="id_healthy" value="{{ item.id }}"/>
          <input type="hidden"  name="id_unhealthy" value="{{ choice_id }}"/>
          <button id="btn_sauv" type="submit" name="button" role="button" class="btn btn_save btn-primary">
            Sauvegarder
          </button>
        </form>
      </figcaption>
    </div>
  </div>
  {% endfor %}
