
{% for fav in favorites %}
<div class="col-xs-12 col-sm-6 col-md-4 result-item">
  <div>
    <span>{{ fav.fav_grade }}</span>
    <figure class="thumbnail">
      <img src="{{ fav.fav_image }}" alt="{{ fav.fav_product }}">
    </figure>
    <figcaption class="caption">
      <h3>{{ fav.fav_product }}</h3>
      <form method="POST" action='{% url "search:remove" %}' class="ajax_delete_product">
        {% csrf_token %}
        <input type="hidden"  name="delete_favorite" value="{{ fav.id_substitute }}"/>
        <input type="hidden"  name="delete_unhealthy" value="{{ fav.id_product }}"/>
        <button id="btn_sauv" type="submit" name="button" role="button" class="btn btn_delete btn-primary">
          Supprimer
        </button>
      </form>
    </figcaption>
  </div>
</div>
{% endfor %}
