{% extends 'app/base.html' %}

{% block corps %}
 <section class="single-pg">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Accéder à votre compte utilisateur</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe</strong></p>
        {% endif %}

        {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
        {% else %}
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter" />
            <a href="/register">Vous n'avez pas encore de compte ? Créez-le !</a>
        </form>
        {% endif %}
        <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
