{% extends 'app/base.html' %}

{% block corps %}
 <section class="single-pg auth-pg">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Accédez à votre compte utilisateur</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe</strong></p>
        {% endif %}

        {% if user.is_authenticated %}
        Vous êtes connecté(e), {{ user.username }} !
        {% else %}
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter" />
            <a href="{% url 'users:registration' %}">Vous n'avez pas encore de compte ? Créez-le !</a>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
