{% extends 'app/base.html' %}

{% block corps %}
  <section class="single-pg auth-pg">
   <div class="container my-auto">
     <div class="row">
       <div class="col-lg-8 mx-auto">
         <h1 class="text-uppercase">
           <strong>Créez votres compte utilisateur</strong>
         </h1>
         <hr>
       </div>
       <div class="col-lg-10 mx-auto">
        <form method="POST" action=".">
            {% csrf_token %}

            {% if form.errors %}
            <p>Il y a une erreur dans le formulaire</p>
            {% endif %}

            {{ form }}

            <input class ="input-create" type="submit" value="Créer mon compte" />
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
