{% load static %}

<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Choisissez les alternatives saines à vos petits plaisirs">
    <meta name="author" content="Doris">

    <title>Purbeurre App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}" >
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'app/vendor/magnific-popup/magnific-popup.css' %}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'app/css/creative.min.css' %}" >

  </head>


  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Purbeurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% include 'search/search_nav.html' %}
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'users:account' %}">
                <i class="fas fa-user-circle"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="" href="{% url 'search:favorite' %}">
                <img class="carrot" src="{% static 'app/img/noun_Carrot_29691.png' %}" alt="mes favoris">
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Déconnexion</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    {% block header %}
    {% endblock %}

    {% block corps %}
    {% endblock %}

    {% block accueil %}
    {% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'app/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'app/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'app/js/notify.min.js' %}"></script>


    <!-- Custom scripts for this template -->
    <script>
      jQuery(document).ready(function(){
          jQuery("#txtSearch").autocomplete({
              source: "{% url 'search:search' %}",
              minLength: 2,
              open: function(){
                  setTimeout(function () {
                      jQuery('.ui-autocomplete').css('z-index', 99);
                  }, 0);
              }
            });
      });
    </script>
    <script src="{% static 'app/js/main.js' %}"></script>
    <script src="{% static 'app/js/creative.min.js' %}"></script>

  </body>

</html>
