{% extends 'app/base.html' %}

{% block header %}
 <div class="jumbotron text-center text-white mini-header header-account">
  <img class="img-responsive">
  <div class="container my-auto bg-title">
    <h2>
      Mentions Légales
    </h2>
  </div>
</div>
{% endblock %}


{% block corps %}
 <section class="single-pg">
  <div class="container">
    <h3 class="">
       Responsable du site, éditeur et rédacteur
    </h3>
    <p>
      Doris
    </p>
    <h3 class="">
       Crédits
    </h3>
    <p>
      Images : Kawin Harasai, Olenka Kotyk
      Icones : Carrot by Fabien Jouin from the Noun Project
    </p>
    <h3 class="">
       Hébergeur
    </h3>
    <p>
      Heroku
    </p>
    <div class="row">
      <div class="col-lg-12 mx-auto">
       truc à mettre
      </div>
    </div>
  </div>
</section>
{% endblock %}
