body h1{
  font-family: "Open Sans", sans-serif;
}
body h2{
  font-family: "Open Sans", sans-serif;
}
body h3{
  font-family: "Open Sans", sans-serif;
}

body p {
  font-family: "Scope One", sans-serif;
}

body a {
  font-family: "Scope One", sans-serif;
}

input {
  font-family: "Scope One", sans-serif;
}

li {
  font-family: "Scope One", sans-serif;
}

label {
  font-family: "Scope One", sans-serif;
  font-weight: bold;
}
.helptext {
  font-family: "Scope One", sans-serif;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}
/* #############################################
###### Template REGISTER & CONNECTION #########
############################################### */

body {
  background-color: #E8A75D;
}

.auth-pg {
  height: 100%;
  background-color: #DE9440;
}

.button-connect {
  background-color: #345A61;
  color: white;
  font-size: 13px !important;
}

/* #############################################
###### Template ACCUEIL/INDEX         #########
############################################### */

.title-background strong {
  background-color: rgba(196, 85, 37, 0.9);
}
.title-background {
  line-height: 1.35;
}
.searchbox {
  display: contents;
}
.button-form {
  background-color: #345A61;
  color: white;
  font-size: 15px !important;
}
.colette {
  width: 46%;
}
.remy {
  width: 65%;
}
.contact {
  background-color: #C45525;
}
.fa-phone p {
  color: white;
}
.email-contact{
  color: white;
}
.green-font {
  color: #345A61;
}
footer {
  padding: 8px;
  background-color: #345A61;
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* #############################################
######  Template NAVIGATION BAR       #########
############################################### */
.bar_nav {
  margin-left: 58% !important;
}
.logo_pb {
  width: 4%;
  padding: 4px;
}
.fa-user-circle {
    font-size: 24px;
}
.carrot-nav {
  width: 8%;
}
.carrot {
  width: 100%;
  padding: 0;
}
.navbar-shrink .carrot {
  display: none;
}
.carrot-overlay {
  display: none;
}
.navbar-shrink .carrot-overlay {
  display: block;
  top: 0;
  width: 100%;
}
.fa-sign-out-alt {
  font-size: 22px;
}


/* #############################################
###### Template RESULTS               #########
############################################### */

.mini-header {
  margin-top: 4em !important;
  background-color: transparent !important;
}

.bg-title {
  background-color: #C45525;
}

.single-pg {
  background-color: white;
}

.title-single-pg h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.result-item {
  float: left;
}

.result-item span {
  font-size: 20px;
  color: white;
  background-color: #86EBE6;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: -15px;
}

.result-item figure {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.result-item img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.result-item h3 {
  font-size: 18px;
}

.result-item figcaption {
  height: 160px;
  padding: 15px 0 0 15px;
  margin-bottom: 40px;
}
.box_colored {
  background-color: #345A61;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}

.box_colored:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-position {
  position: absolute;
  bottom: 12%;
}

.btn-results {
  background-color: #C45525;
  color: white;
}

.fa-save {
  font-size: 22px;
  z-index: 1;
  position: absolute;
  left: 9%;
  padding-top: 4%;
  color: white;
}
.btn_save {
  width: 137%;
  position: relative;
}

.account-body {
  height: 100%;
}

/* #############################################
###### Template ACCOUNT             #########
############################################### */

.header-account {
  background-position: 50%;
  background-size: cover;
}

.email-account {
  color: white;
  text-align: center;
  background-color: #345A61;
  margin: 0 25% 0 25%;
}

/* #############################################
###### Template DETAILS               #########
############################################### */

.band {
  background-color: #C45525;
  padding: 2% 23%;
  color: white;
  font-size: 19px;
}

.detail-row {
  margin-bottom: 8%;
}

/* #############################################
###### Template FAVORITE              #########
############################################### */

.header-favorite {
  background-position: 50%;
  background-size: cover;
}

/* #############################################
###### Template LEGAL  MENTIONS      #########
############################################### */

.fa-heart {
  color: red;
}

/* #############################################
###### Template 404/500/NO PRODUCT      #########
############################################### */

.error-pg {
  height: 100%;
  background-color: #C45525 !important;
}
.fa-cookie {
  color: #DE9440;
}
.fa-cookie-bite {
  color: #DE9440;
}
.link-error {
  color: white;
}

/*/////////////////////////// DEVICE UNDER 1024px /////////////////////////////*/
@media only screen and (max-width: 1024px) {
/* #############################################
###### Template NAVIGATION BAR        #########
############################################### */

  .carrot-nav {
    width: 12%;
  }
}

/*/////////////////////////// DEVICE UNDER 800px /////////////////////////////*/
@media only screen and (max-width: 800px) {
/* #############################################
###### Template RESULTS               #########
############################################### */

  .result-item h3 {
      font-size: 15px;
  }
  .btn_save {
      width: 134%;
      position: relative;
      font-size: 13px;
  }
  .title-single-pg h2 {
    font-size: 20px;
  }
  .fa-save {
      font-size: 18px;
  }

/* #############################################
###### Template NAVIGATION BAR        #########
############################################### */

  /* .bar_nav .form-control {
      width: 70%;
  } */
  .search-nav {
    display: none;
  }
  .show .carrot {
    display: none;
  }
  .carrot-overlay {
    display: none;
  }
  .show .carrot-overlay {
    display: block;
    width: 120%;
    float: right;
  }
  .account-body h3 {
      font-size: 15px;
  }
  .log-out-nav {
    padding-left: 1%;
  }

}

/*/////////////////////////// DEVICE UNDER 500px /////////////////////////////*/
@media only screen and (max-width: 500px) {
  body h1 {
    font-size: 30px;
  }
  body h2 {
    font-size: 23px;
  }
  body h3 {
    font-size: 20px;
  }

/* #############################################
###### Template NAVIGATION BAR        #########
############################################### */

  .logo_pb {
      width: 8%;
  }
  .bar_nav .form-control {
    width: 65%;
  }
  .carrot-nav {
    width: 7%;
  }
  .show .carrot-overlay {
    width: 206%;
    float: left;
  }
  .log-out-nav {
    padding-left: 3%;
  }


/* #############################################
###### Template RESULTS               #########
############################################### */

  .btn_save {
      font-size: 15px;
  }
  .fa-save {
      font-size: 19px;
      padding-top: 5%;
  }
}

/*/////////////////////////// DEVICE UNDER 400px /////////////////////////////*/
@media only screen and (max-width: 400px) {
  body p {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  /* #############################################
  ###### Template ACCOUNT               #########
  ############################################### */
  .email-account {
      margin: 0 15% 0 15%;
  }
  .mini-header {
    margin-top: 5em !important;
  }
  /* #############################################
  ###### Template NAVIGATION BAR        #########
  ############################################### */

  .show .carrot-overlay {
    width: 235%;
    float: left;
  }
}
