{% extends 'app/base.html' %}

{% block corps %}
  <section class="error-pg">
   <div class="container my-auto">
     <div class="row">
       <div class="col-lg-10 mx-auto">
         <h1 class="text-uppercase">
           <i class="fas fa-cookie"></i>
           <strong>Le produit que vous cherchez n'existe pas encore dans notre application</strong>
           <i class="fas fa-cookie-bite"></i>
         </h1>
         <hr>
         <a href="{% url 'app:index' %}" class="link-error">
          Retournez sur la page d'accueil pour faire une nouvelle recherche
         </a>
       </div>
       <div class="col-lg-10 mx-auto">
       </div>
      </div>
    </div>
  </section>
{% endblock %}
