{% extends 'app/base.html' %}

{% block corps %}
  <section class="error-pg">
   <div class="container my-auto">
     <div class="row">
       <div class="col-lg-8 mx-auto">
         <h1 class="text-uppercase">
           <strong>Oups ! Une erreur s'est produite</strong>
         </h1>
         <hr>
         <a href="{% url 'app:index' %}" class="link-error">
          Retournez sur la page d'accueil
         </a>
       </div>
       <div class="col-lg-10 mx-auto">
       </div>
      </div>
    </div>
  </section>
{% endblock %}
